Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

We now want to see all students in the class:

<% @classroom.students.each do |i| %>
<ul>
    <li><%= render partial: 'students/student', locals: {student: i} %></li>
</ul>
<% end %>
